.post{background:#fff;box-shadow:0 1px 2px rgba(0, 0, 0, 0.1)}
/* Multitab */
.multitab-widget{list-style:outside none none;overflow:hidden;padding:0;margin:10px 0 0}
.multitab-widget li{float:left}
.multitab-widget li a{display:inline-block;padding:0 10px;outline:0 none;font-size:11px;text-decoration:none;white-space:nowrap;word-wrap:normal;vertical-align:middle;cursor:pointer;border-radius:2px;background:#f5f5f5;font-family:Roboto,arial,sans-serif;margin-right:5px;border:medium none;font-weight:400;color:#444;line-height:26px;transition:background-color 0.2s ease 0s}
.multitab-widget li a:hover{background:#E4E4E4;text-decoration:none}
.multitab-tab{border:0;text-align:center}
.multitab-widget li a.multitab-widget-current{text-decoration:none;color:#FFF;background:#38A8F3}
.multitab-widget li a .fa{margin-right:3px}
.multitab-widget-2{list-style:outside none none;overflow:hidden;padding:0;margin:0 0 15px}
.multitab-widget-2 li{float:left}
.multitab-widget-2 li a{display:inline-block;font-size:13px;margin-right:10px;font-weight:500;color:#444;line-height:26px;transition:background-color .2s ease 0}
.multitab-widget-2 li a:hover,.multitab-widget-2 li a.multitab-widget-current-2{color:#167AC6;text-decoration:none}
.multitab-tab{border:0;text-align:center}
/* Kotak Music */
.music-wrap{overflow:hidden;min-height:230px;border-bottom:1px solid #ddd;padding:15px}
.music-wrap h2{margin:0 0 10px;font-weight:500;font-size:17px}
.music-img{overflow:hidden;margin:0 15px 0 0;max-width:200px;float:left;height:100%}
.music-img img{width:100%;max-height:200px}
#music-detail{overflow:hidden;position:relative}
#open-music-detail{display:block;position:relative}
#music-detail-ellipis{right:0;bottom:0;position:absolute;background:#fff;font-weight:500;top:-17px;padding-left:7px}
#music-detail-show{display:none}
a.expander-link{color:#167AC6!important}
.show{display:block}
/* Download area */
.download-area{padding:15px;border-bottom:1px solid #DDD}
.download-info{padding:10px;background:#fafafa}
.download-info h3{margin:0 0 10px;font-weight:500;font-size:14px}
.download-link{margin:10px 0 0}
.download-link a{height:24px;display:inline-block;line-height:24px;margin-right:5px;padding:0 10px;background:#fff;border-radius:2px}
.download-link a:hover{background:#38A8F3;color:#fff;text-decoration:none}
/* Music Player */
.play-list{padding:15px}
.play-list p{float:left}
.play-list table{border-collapse:collapse;width:100%;border-top:1px solid #ddd}
.play-list .table_row{line-height:1.33341;font-weight:400;letter-spacing:0}
.play-list .table_row:hover,.play-list .table_row:hover .table-row-artist{color:#167AC6}
.play-list .table_row td{vertical-align:middle;height:50px}
.play-list .table-row-track{width:32px;padding:0;position:relative;vertical-align:middle;z-index:1}
.play-list .table-row-duration{text-align:right}
.play-list th,td{text-align:left}
.table_row:hover a.play-button,.table_row:hover .dl{visibility:visible;opacity:1}
.table-row-title{max-width:100%;min-width:80%}
.table-row-headline,.table-row-artist{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.table-row-headline{font-size:13px;letter-spacing:0;line-height:1.5em}
.table-row-artist{font-size:11px;color:#ADADAD}
tr{border-bottom:1px solid #ddd}
a.play-button{position:relative;display:inline-block;width:18px;height:18px;text-indent:-9999px;
 overflow:hidden;vertical-align:middle;border-radius:2px;margin-top:-1px;-webkit-transition-property:hover;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out 0;-o-transition-property: background-color;  -o-transition-duration: 0.15s;
 *text-indent:0;*line-height:99em;*vertical-align:top;position:absolute}
a.play-button:focus{outline:0 0}
a.play-button,a.play-button.sm2_paused:hover{background-position:-39px -7px;background-color:#fff;visibility:hidden;opacity:0;transition:all 0s ease-in-out 0s}
a.sm2_button.sm2_playing:hover{visibility:visible;opacity:1;background-position:-54.5px -7px}
a.play-button.sm2_playing{background:url(https://4.bp.blogspot.com/-jI4EfWLMrSw/XA65dvYiH5I/AAAAAAAAEuk/8l-IrjIR-Q43bDcaJByK5oRQLpndNtutACLcBGAs/s1600/music.gif) no-repeat scroll center center #FFF;visibility:visible;opacity:1;transition:all 0s ease-in-out 0s}
a.play-button.sm2_paused,a.sm2_button.sm2_paused:hover{}
.dl{float:right;width:17px;height:17px;background-position:-90px -7px;visibility:hidden;opacity:0;transition:all 0s ease-in-out 0s;position:relative}
.bk-scan{padding:15px}
.bk-scan-img a{max-width:25%;float:left;padding:0 7.5px;margin:0 0 15px}
.bk-scan-container{overflow:hidden;padding:0;margin:0 -7.5px}
#imagelightbox{cursor:pointer;position:fixed;z-index:10000;-ms-touch-action:none;touch-action:none;-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.4);box-shadow:0 0 3px rgba(0, 0, 0, 0.4)}
#imagelightbox-loading,#imagelightbox-loading div{border-radius:50%}
#imagelightbox-loading{width:2.5em;height:2.5em;background-color:#000;background-color:rgba(0,0,0,0.94);position:fixed;z-index:10003;top:50%;left:50%;padding:.625em;margin:-1.25em 0 0 -1.25em;-webkit-box-shadow:0 0 2.5em rgba(0,0,0,.75);box-shadow:0 0 2.5em rgba(0,0,0,.75);;}#imagelightbox-loading div{width:1.25em;height:1.25em;background-color:#fff;-webkit-animation:imagelightbox-loading .5s ease infinite;animation:imagelightbox-loading .5s ease infinite;}@-webkit-keyframes imagelightbox-loading{from{opacity:.5;-webkit-transform:scale(.75)}
50%{opacity:1;-webkit-transform:scale(1)}
to{opacity:.5;-webkit-transform:scale(.75)}}
@keyframes imagelightbox-loading{from{opacity:.5;transform:scale(.75)}
50%{opacity:1;transform:scale(1)}
to{opacity:.5;transform:scale(.75)}}
#imagelightbox-overlay{background-color:#000;background-color:rgba(0, 0, 0, 0.9);position:fixed;z-index:9998;top:0;right:0;bottom:0;left:0}
@-webkit-keyframes fade-in{from{opacity:0}
to{opacity:1}}
@keyframes fade-in{from{opacity:0}
to{opacity:1}}
@media screen and (max-width:480px){
.music-img{float:none;text-align:center;margin:-15px -15px 20px;background:#fafafa;padding:15px 0;width:auto;max-width:none}
.music-img img{max-height:100%;max-width:61%}
.play-list .table_row td{padding:0 5px}
.play-track{margin:0 0 10px;color:#0086e0}
.play-tracklist{width:18px;height:18px;display:inline-block;background-position:-39px -7px}
.play-tracklist::after{content:"Play"}
.play-track>a.sm2_button.sm2_playing:hover{background-position:-39px -7px}
}
